# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# README files not needed till later
# README-template.md
# README.md

# Style Guide to be deleted later
style-guide.md

# SCSS & .map files not needed in remote
*.scss
*.css.map
.vercel
