@font-face {
  font-family: "Inconsolata";
  src: url("/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
  font-weight: 100 900; /* Defines the range of weights available */
  font-stretch: 75% 125%; /* Optional: Defines width variations */
  font-display: swap; /* Controls font rendering behavior */
}

body {
  background-image: url("/assets/images/pattern-circle.svg"),
    url("/assets/images/pattern-circle.svg"),
    url("/assets/images/pattern-squiggly-line-bottom.svg"),
    url("/assets/images/pattern-squiggly-line-top.svg"),
    url("/assets/images/pattern-lines.svg"),
    url("/assets/images/background-desktop.png");
  background-size: 12% auto, 12% auto, 40% auto, 30% auto, contain, cover;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x,
    no-repeat;
  background-position: 5% -10%, 69% 55%, bottom left, 100% 10%, top center,
    top center;

  margin: 0;
  color: white;
  padding-bottom: 5rem;
}

.App {
  font-family: "Inconsolata", sans-serif;
  font-weight: 700; /* Bold */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 0.5rem;
}

i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 300;
}

/* 
@media (max-width: 1280px) {
  .container {
    min-width: 1024px;
  }
}


@media (max-width: 1024px) {
  .container {
    min-width: 768px;
  }
}

 
@media (max-width: 768px) {
  .container {
    min-width: 640px;
  }
}

 
@media (max-width: 640px) {
  .container {
    min-width: 475px;
  }
} */
