@font-face {
  font-family: "Inconsolata";
  src: url("/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
  font-weight: 100 900; /* Defines the range of weights available */
  font-stretch: 75% 125%; /* Optional: Defines width variations */
  font-display: swap; /* Controls font rendering behavior */
}

body {
  margin: 0;
  color: white;
  padding-bottom: 0.5rem;
  overflow-x: hidden; /* Prevent horizontal overflow */
  position: relative;
}

.background-images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/assets/images/pattern-circle.svg"),
    url("/assets/images/pattern-circle.svg"),
    url("/assets/images/pattern-squiggly-line-bottom.svg"),
    url("/assets/images/pattern-squiggly-line-top.svg"),
    url("/assets/images/pattern-lines.svg"),
    url("/assets/images/background-desktop.png");
  background-size: 12% auto, 12% auto, 40% auto, 30% auto, contain, cover;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x,
    no-repeat;
  background-position: 5% -10%, 69% 55%, bottom left, 100% 10%, top center,
    top center;
}

.App {
  font-family: "Inconsolata", sans-serif;
  font-weight: 700; /* Bold */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 0.5rem;
  background-color: rgba(255, 0, 0, 0.24);
}

i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 300;
}

.motionDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

#form-area {
  min-width: 360px;
  background-color: blue;
}

@media (max-width: 1280px) {
  .container {
    min-width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    min-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    min-width: 560px;
  }
}

@media (max-width: 560px) {
  .container {
    min-width: 100%;
  }
}

@media (max-width: 380px) {
  #form-area {
    min-width: 100%;
  }
}

.testDiv {
  width: 100px;
  height: 100px;
  background-color: red;
}
