@font-face {
  font-family: "Inconsolata";
  src: url("/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
  font-weight: 100 900; /* Defines the range of weights available */
  font-stretch: 75% 125%; /* Optional: Defines width variations */
  font-display: swap; /* Controls font rendering behavior */
}

body {
  margin: 0;
}

.App {
  font-family: "Inconsolata", sans-serif;
  font-weight: 700; /* Bold */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1280px;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 
@media (max-width: 1280px) {
  .container {
    min-width: 1024px;
  }
}


@media (max-width: 1024px) {
  .container {
    min-width: 768px;
  }
}

 
@media (max-width: 768px) {
  .container {
    min-width: 640px;
  }
}

 
@media (max-width: 640px) {
  .container {
    min-width: 475px;
  }
} */
